.idea/
*.iml
*.hprof
.gradle
/local.properties
.DS_Store
/captures
*.log
*.tmp
*.temp
.externalNativeBuild
.cxx
local.properties
*.jks
*.keystore
*.aab
proguard-rules.pro
proguardFiles/
/coverage/
/coverage.ec
/navigation/
